.sensor-container {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sensor {
    font-weight: bold;
}

.dark {
    color: darkred;
}

.light {
    color: green;
}